:root {
  --dark-bg-color: #4DB6AC;
  --dark-color: white;

  --darker-bg-color: #00897B;
  --darker-color: white;

  --second-bg-color: #FDD835;
  --second-color: black;

  --seconder-bg-color: #F57F17;
  --seconder-color: black;
}

body {
  text-align: center;
  margin: 0;
  font-family: "Lucida Console", Monaco, monospace;
}

header {
  padding: 10px;
  background-color: var(--dark-bg-color);
  color: var(--dark-color);
}

header > h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}
